.show-more {
  background-color: #2680c0;
  padding: 16px;
  margin: 0px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  width: calc(100% -40px);
}

.show-more:hover {
  background-color: #e6920c;
}