.layout {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  height: 100%;
  background-image: url(@/assets/background.png);
  background-repeat: repeat-y;
}

/* .layout__images {
  position: absolute;
  left: 0;
  z-index: -1;
} */

.events {
  justify-self: center;
  margin-top: 100px;
  margin-bottom: 40px;
  padding-right: 24px;
  overflow: scroll;
  height: 100%;
}

@media (max-width:1000px)  {
  /* smartphones, Android phones, landscape iPhone */
  .side-block {
    display: none;
  }

  .layout {
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  .events {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    align-items: center;
    width: 100%;
  }

  .event-block {
    width: calc(100%-64px);
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 16px;
  }

  .event-block__info {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }

  .event-block__days {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
  }

  .event-block__day {
    width: auto;
    margin-right: 0px;
  }

  .event-block__day::before {
    content: "День: ";
    margin-right: 4px;
  }

  .event-block__date {
    width: auto;
    margin-right: 0px;
  }

  .event-block__date::before {
    content: "Дата: ";
    margin-right: 4px;
  }
}