@import '@/style/const.scss';

.layout {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  height: 100%;
  background-color: $background-color;
}

/* .layout__images {
  position: absolute;
  left: 0;
  z-index: -1;
} */

.events {
  justify-self: center;
  margin-bottom: 40px;
  overflow: scroll;
  height: 100%;
}

@media (max-width:1000px)  {
  /* smartphones, Android phones, landscape iPhone */
  .side-block {
    display: none;
  }

  .layout {
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  .events {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    align-items: center;
    width: 100%;
  }
}