
.event-block {
  display: flex;
  flex-direction: column;
  /* border: 2px solid #000000; */
  justify-content: flex-start;
  width: 600px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 16px;
  background-color: #e9e8e8;
}

.event-block__info {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-right: 10px;
  width: 100%;
  margin-bottom: 8px;
}

.event-block__days {
  display: flex;
  height: 100%;
}

.event-block__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* max-height: 60px; */
  padding: 16px;
  border-radius: 8px;
  background-color: rgb(150, 149, 149);
  margin-right: 8px;
  color: white;
  box-sizing: border-box;
}

.event-block__date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100%;
  /* max-height: 60px; */
  padding: 16px;
  border-radius: 8px;
  background-color: rgb(150, 149, 149);
  margin-right: 8px;
  box-sizing: border-box;
  color: white;
}

.event-block__text {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #cacaca;
  color: black;
  padding: 16px;
}

.event-block__images{
}

.event-block__image:last-child  {
  margin-bottom: 0px;
}

.event-block__image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}
