#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow: hidden;
  font-weight: 500;
}

.content {
  overflow: hidden;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  color: #FFFFFF;
  background: linear-gradient(90deg, rgba(0, 19, 187, 0.5) 41.18%, rgba(233, 223, 0, 0.5) 59.44%);
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  position: fixed;
  left: 0px;
  top: 0px;

}

nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  z-index: 100;
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100px;
  margin-top: 40px;
  /* background-color: #000000; */
}

.header__pages {
  display: flex;
}


.header__bakground {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 40;
  left: 0;
  background-color: black;
  opacity: 0.2;
  z-index: -1;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
  margin: 0px 20px;
  font-size: 30px;
  align-self: center;
}

nav a.router-link-exact-active {
  /* color: #42b983; */
}

.header__divider {
  width: 4px;
  height: 50px;
  left: 699px;
  top: 58px;
  background: #D9D9D9;
  border-radius: 2px;
}

.rotate-icon {
  cursor: pointer;
  align-self: center;
}

.rotate-icon svg {
  transform: rotate(90deg);
  height: 30px;
}

.rotate-icon svg polygon {
  fill: grey;
}

.rotate-icon svg:hover polygon {
  fill: white;
}

img {
  display: block;
  margin: 0px;
}

.povernis-givim-logo {
  align-self: center;
  justify-self: flex-end;
  position: absolute;
  right: 0px;
  top: 11px;
  margin-right: 100px;
  cursor: pointer;
  margin-left: 10px;
}

.povernis-givim-logo:hover {
  transform: scale(1.1);
}

@media (max-width:1300px)  {
  .povernis-givim-logo {
    position: static;
    margin-right: 10px;

  }

  nav a {
    font-size: 25px;
  }
}

@media (max-width:765px)  {
  nav a {
    font-size: 15px;
    margin: 0px 10px;
}

  .povernis-givim-logo {
    height: 50px;
    margin-right: 10px;
  }

  .header-top {
    font-size: 15px;
  }

}
