.side-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  z-index: 200;
  position: relative;
  overflow: auto;
  background-repeat: repeat-y;
  background-image: url("@/assets/ukrainian-ornament.jpeg");
  background-size: 150px;
  background-position: right;
}

.side-block img{
  width: 150px;
}